<h1>Xero connected</h1>

<% if @invoice_source.external_account_name.present? %>
  <p>Connected organisation: <%= @invoice_source.external_account_name %></p>
<% else %>
  <p>Xero is connected.</p>
<% end %>

<p><%= link_to "View invoices", invoices_path %></p>
<p><%= button_to "Disconnect Xero", xero_connection_path, method: :delete %></p>
